* {
    padding: 0px;
    margin: 0px;
}

.Main {
    display: flex;
    flex-direction: row;
}

.Sideview {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 12%;
}

.Songlist {
    width: 50%;
}

.Player {
    width: 32%;
    align-items: right;
}